<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Github | Taha Dostifam</title>
</head>
<body style="
    display: flex;
    justify-content: center;">
    <a href="https://github.com/login/oauth/authorize?scope=user:email&amp;client_id=def552d8d0772058e472" style="
    padding: 10px 20px;
    background: #1c1c1c;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    border-radius: 4px;
">Signin With Github!</a>
</html>