<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome To Home Page!</title>
</head>
<body>
  <img src="<%= user['avatar_url'] %>">
  <h1><%= user['login'] %></h1>
  <p>
    <%= user['bio'] %>
  </p>
</body>
</html>